<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wall</title>
  </head>
  <body>
        <header>
              <h2>CodingDojo Wall</h2>
              <p>Welcome: {{session['user_first_name']}}</p>
              <a href="/log_off">Log Out</a>
        </header>
        <section>
              <form id="message_post" action="/post_message" method="post">
                    <p>Post a message</p>
                    <textarea name="posted_message" rows="8" cols="80"></textarea>
                    <input type="submit" value="Post a message">
              </form>
        </section>
        <article>
              {% for msg in all_msgs %}
                  <p>{{msg['first_name']}} {{msg['last_name']}} {{msg['created_at']}}</p>
                  <p>{{msg['message']}}</p>
                  {% for comm in all_comms %}
                      {% if(comm['message_id'] == msg['id']) %}
                          <p>{{comm['first_name']}} {{comm['last_name']}} {{comm['created_at']}}</p>
                          <p>{{comm['comment']}}</p>
                      {% endif %}
                  {% endfor %}
                  <form id="comment_post" action="/post_comment" method="post">
                        <p>Post a comment</p>
                        <input type="hidden" name="chosen_msg" value={{msg['id']}}>
                        <textarea name="posted_comment" rows="8" cols="80"></textarea>
                        <input type="submit" value="Post a comment">
                  </form>
              {% endfor %}
        </article>
  </body>
</html>
